button {
  all: unset;
  border: 1px solid gray;
  padding: 8px 16px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 32px;
  font-weight: 600;
  max-width: 150px;
  cursor: pointer;
}

button:hover {
  background-color: gainsboro;
}

.disabled-button {
  cursor: not-allowed;
  background-color: black;
}
.disabled-button:hover {
  background-color: black;
}

.big-button {
  border-radius: 48px;
  font-size: 32px;
  line-height: 32px;
  width: 300px;
  height: 70px;
}
