.hake-header {
  width: 100%;
  position: relative;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  background-color: rgb(101, 140, 57);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.hake-header button {
  all: unset;
  border: 1px solid white;
  padding: 16px;
  width: 150px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
