.laundry-view {
  width: 100vw;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.booker-wrapper {
  display: flex;
  flex-grow: 1;
}

.block-spawner {
  width: 100px;
  height: 100px;
  background-color: red;
}

.panel {
  background-color: rgb(240, 240, 240);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 184px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.right {
  border-bottom-left-radius: 8px;
  right: 0;
}

.left {
  border-bottom-right-radius: 8px;
  left: 0;
}

.laundry-header {
  display: flex;
  justify-content: space-between;
}

.calendar-wrapper {
  flex-grow: 1;
}

.laundry-title-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.laundry-title-container h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 5em;
}
.laundry-title-container h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
}
